*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  background: pink;
  overflow: hidden;
}

nav {
  align-items: center;
  display: flex;
  gap: -10px;
}

nav h2 {
  color: white;
}

nav img {
  width: 75px;
  margin: 25px;
}

.right {
  margin: 10px;
  position: relative;
  top: 100px;
  left: 100px;
  color:white;
}

/* container tengah */
.login-container{
  position: absolute;
  top: 150px;
  left: 800px;
  align-items:center;
  height:100vh;
}

/* box login */
.login-box{
  background:white;
  width:500px;
  height:650px;
  padding:35px;
  align-items: center;
  border-radius:12px;
  box-shadow:0 4px 12px rgba(0,0,0,0.1);
}

/* judul */
.login-box h2{
  text-align:center;
  color: black;
  margin-bottom:10px;
}

.login-box p{
  text-align:center;
  color:#666;
  font-size:14px;
  margin-bottom:25px;
}

.login-box img {
  width: 150px;
  position: relative;
  left: 130px;
  margin-bottom: 50px;
}

/* label */
.login-box label{
  display:block;
  margin-bottom:6px;
  font-size:14px;
  color:#333;
}

/* input */
.login-box input{
  width:100%;
  padding:12px;
  margin-bottom:18px;
  border:1px solid #ccc;
  border-radius:8px;
  font-size:14px;
}

.login-box input:focus{
  border-color:#1f4aa8;
  outline:none;
}

/* tombol */
.login-box button{
  width:100%;
  padding:12px;
  background:#1f4aa8;
  color:white;
  border:none;
  border-radius:8px;
  font-size:15px;
  cursor:pointer;
}

.login-box button:hover{
  background:#17397f;
}
  .box {
    position: absolute;
    width: 1000px;
    height: 2000px;
    background-color: darkred;
    transform: rotate(15deg);
    left: -300px;
    top: -200px;
    z-index: -999;
  }
